* {
    padding: 0;
    margin: 0px 2px;
}


header nav ul li a {
    text-decoration: none;
    color: black;
}

header nav ul li:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    border-radius: 10px;
}

/* header nav ul li a:hover {
    color: white;
} */

header nav ul {
    list-style: none;
}

header nav ul li {
    display: inline-block;
    padding: 10px 50px;
    margin: 10px 10px;
}

.main {
    height: 650px;
    /* background-color: lightblue; */
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    border-radius: 50px;
}

.img {
    width: 50%;
}


.img img {
    width: 50%;
    margin-top: 50px;
    margin-left: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    border-radius: 200px;
}

table {
    height: 550px;
}

.img img:hover {
    /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s; */
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    border-radius: 200px;
}

.first {
    /* border: 2px solid green; */
    /* text-align: center; */
}

.first h1 span {
    color: hsl(224, 89%, 60%);
}

tr td a {
    display: inline-block;
    background-color: hsl(224, 89%, 60%);
    color: #fff;
    padding: 0.75rem 2.5rem;
    /* font-weight: var(--font-semi);*/
    border-radius: 0.5rem;
    /*transition: .3s; */
    margin-top: 10px;
    text-decoration: none;
}

/* --hue-color: 224; */
/* hsl(var(--hue-color), 89%, 60%); */