* {
    margin: 0;
    padding: 0;
}

section {
    width: 100%;
    /* adding flex here */
    display: flex;
    flex-direction: row;
    /* flex-direction: column; */
    /* flex-direction: column-reverse; */

    /* justify content */
    /* justify-content: space-around; */
    /* This works horizontally*/

    /* align items flex property */

    align-items: flex-start;
    /* This works vertically */
}

.one {
    border: 2px solid green;
    margin: 1rem;
    background-color: lightcoral;

    /* adding flex-property */
    flex: 1;
}

.two {
    border: 2px solid black;
    margin: 1rem;
    background-color: antiquewhite;

    /* adding flex-property */

    /* flex: 2; */
    flex: 1
}

.three {
    border: 2px solid yellow;
    margin: 1rem;
    background-color: lightblue;

    /* adding flex-property */

    flex: 1;
}

div {
    padding: 1.2rem;
}