* {
    margin: 0;
    padding: 0;
}

.top-container {
    background-color: #B9E0FF;
    width: 200px;
    height: 200px;
}

.middle-container {
    background-color: red;
    width: 200px;
    height: 200px;
    margin-left: 200px;
}

.bottom-container {
    background-color: blue;
    width: 200px;
    height: 200px;
    margin-left: 400px;
}