* {
    margin: 0;
    padding: 0;
}

.top-nav {
    background-color: black;
}

.top-nav img {
    width: 2.5rem;
    height: 2.5rem;
    margin: 5px 15px;
}

.middle-container {
    text-align: center;
    margin: 50px auto;
}

.middle-container h1 {
    font-size: 3.5rem;
}

.middle-container p {
    font-size: 1.5rem;
}

.middle-container span {
    background-color: black;
    color: white;
    padding: 5px;
}

.image-container {
    background-image: url(../assets/image/jane-image.jpg);
    height: 1000px;
}

.image-container-text h3 {
    color: white;
    font-size: 3rem;
}

.image-container-text h1 {
    color: white;
    font-size: 4rem;
}

.image-container-text p {
    color: white;
    background-color: lightgray;
    display: inline-block;
    font-size: 2rem;
    color: black;
    height: 3rem;
    width: 12rem;
    text-align: center;
    padding: 5px;
}

.image-container-text {
    position: absolute;
    top: 645px;
    left: 40px;
}

.more-one {
    background-color: rgb(248, 243, 237);
}

.more-one-left {
    width: 60%;
    text-align: center;
    padding: 2rem;
}

.more-one-left img {
    width: 100%;
}

.more-one-left span {
    color: rgb(157, 156, 156);
}

.sent {
    text-align: left;
    font-size: 1.2rem;
}

.like {
    font-size: 1.2rem;
    display: inline-block;
}

.reply {
    margin: 2rem;
    display: inline-block;
}

.like button {
    float: left;
}

.reply button {
    float: right;
}