* {
    margin: 0;
    padding: 0;
}

.top-nav {
    background-color: lightcoral;
}

.top-nav img {
    width: 2.5rem;
    height: 2.5rem;
    margin: 5px 15px;
}

.middle-container {
    text-align: center;
    margin: 50px auto;
}

.middle-container span {
    background-color: black;
    color: white;
}

.image-container {
    background-image: url(../assets/image/jane-image.jpg);
}