:root {
    /* --blue: #000080; */
    --blue: #3120E0;
}

* {
    margin: 0;
    padding: 0;
}

.first {
    width: 100%;
    height: 100vh;

    margin-top: 1rem;
}

nav {
    text-align: center;
    background-color: white;
}

nav a {
    text-decoration: none;
    font-size: 2rem;
    padding: 0.5rem;
    margin: 1rem;

    color: black;
}

nav a:hover {
    background-color: var(--blue);
    color: white;

    border-radius: 8px;
}

.my-pic {
    width: 25%;
    height: 25%;
    margin: 10rem;
}

.content {
    display: inline-block;
    position: absolute;
    top: 20rem;
}

.content h2 {
    font-size: 4rem;
    /* color: #DC3535; */
    color: #EB6440;
}

.content h1 {
    font-size: 6rem;
}

.span-1 {
    color: var(--blue);
}

.h2-2 {
    color: #EB6440;
}

.content h3 {
    font-size: 2.5rem;
    /* background-color: var(--blue); */
    display: inline-block;
    width: 10rem;
    height: 3.5rem;
    text-align: center;
    border-radius: 0.8rem;
    color: var(--blue);
    margin: 1rem auto;
    font-weight: lighter;

    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
}

.resume:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    cursor: pointer;
}

.content-github {
    position: absolute;
    top: 17rem;
    left: 12rem;
}

.content-github:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    cursor: pointer;
    border-radius: 180px;
}

.about {
    margin: 5rem;
}

.about-content {
    margin: 4rem;
}

.skills {
    margin: 5rem;
}

.skills-content {
    text-align: center;
}

.skills-content img {
    width: 10rem;
    height: 6rem;
    margin: 2rem;
}