* {
    margin: 0;
    padding: 0;
}

.nav-bar {
    text-align: center;
}

li {
    list-style: none;
}

ul {
    display: inline-block;
    font-size: 2rem;
    list-style: none;
    margin: 1rem;
}

.nav-a {
    display: inline-block;
    text-decoration: none;
    background-color: white;
}

.ontheright {
    display: inline-block;
    position: absolute;
    right: 30px;
    top: 1rem;
}

.ontheright img {
    height: 2rem;
    width: 2rem;
    margin: 0 1rem;
}

.mainbox {
    width: 100%;
    height: 100%;
    background-color: lightgreen;


}

.content:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.mainbox img {
    float: right;
    margin: 2rem;
}

.content {
    display: inline-block;
    margin: auto;
    text-align: left;
    position: absolute;
    left: 5rem;
    top: 10rem;


    width: 100%;
    height: 100%;
}

.content h1 {
    /* display: inline-block; */
    font-size: 5rem;
    margin: 2rem 1rem;
}

.content h2 {
    /* display: inline-block; */
    font-size: 3rem;
    margin: 2rem 1rem;
}


.content h4 {
    /* display: inline-block; */
    font-size: 2rem;
    margin: 2rem 1rem;
}

.content p {
    font-size: 2rem;
    background-color: red;
    width: 10rem;
    height: 3rem;
    margin: 2rem 1rem;
    color: white;
    text-align: center;
    border-radius: 4px;
}