@import url('https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap');

* {
    margin: 0;
    padding: 0;
}

.top-nav {
    height: 4rem;
}

.logo {
    display: inline-block;
    margin: auto 10rem;
    font-family: 'Patrick Hand', cursive;
    font-size: 2.5rem;
}

.nav-right {
    display: inline-block;
    position: absolute;
    right: 1rem;
    margin: 1rem 10rem;
}

.nav-right a {
    margin: 1rem;
    font-size: 1.5rem;
    text-decoration: none;
}